<div class="row">
	<div class="col-md-4">
		<h2>Spielregeln</h2>
		<p>Die Spielregeln sind sehr simpel:</p>
		<ul>
			<li>Sie müssen Ihren Tipp unbedingt VOR Beginn des Rennens abgeben.</li>
			<li>Sie tippen immer nur auf die ersten drei Plätze.</li>
			<li>5 Punkte erhalten Sie für jeden Tipp der genau gepasst hat!</li>
			<li>Falls einer der Fahrer auf den Sie getippt haben nicht genau auf der Position landet auf die Sie getippt haben, aber dennoch in die Top 3 kommt erhalten Sie einen Punkt!</li>
			<li>Vergessen Sie es einen Tipp abzugeben, oder geben ihn zu spät ab gibt es für das Rennen 0 Punkte!</li>
		</ul>
		<p>Extrapunkte für riskanntere Tipps:</p>
		<ul>
			<li>Sie erhalten Bonuspunkte wenn Sie auf Fahrer Tippen die von den hinteren Startplätzen starten und es dann im Rennen unter die top 3 schaffen.</li>
			<li>Tippen Sie auf einen Fahrer der von Platz 4 oder 5 startet und dieser schafft es dann unter die top 3, erhalten Sie einen Bonuspunkt</li>
			<li>Tippen Sie auf einen Fahrer der von Platz 6 oder 7 startet und dieser schafft es dann unter die top 3, erhalten Sie zwei Bonuspunkt</li>
			<li>Tippen Sie auf einen Fahrer der von Platz 8 oder dahinter startet und dieser schafft es dann unter die top 3, erhalten Sie drei Bonuspunkt</li>
		</ul>
		<p>Pro Rennen können Sie also maximal 24 Punkte erhalten.</p>
		<div class="alert alert-success">
			<strong>Tipp:</strong> Geben Sie Ihren Tipp so früh wie möglich ab. Bis zum Beginn des Rennens können Sie den Tipp jeder Zeit ändern!
		</div>
	</div>
	<div class="col-md-8">
		<h2>Beispiele der Punkteberechnung</h2>
		<p>Um die Punkteverteilung besser zu verstehen können Sie sich an diesen Beispielen orientieren:</p>
		<table class="table">
			<thead>
				<tr>
					<th>Ihr Tipp</th>
					<th>Qualifying</th>
					<th>Rennergebnis</th>
					<th>Erhaltene Punkte</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						1: Fahrer A<br />
						2: Fahrer B<br />
						3: Fahrer C
					</td>
					<td>
						4: Fahrer 1<br />
						5: Fahrer B<br />
						6: Fahrer F
					</td>
					<td>
						1: Fahrer F<br />
						2: Fahrer B<br />
						3: Fahrer D
					</td>
					<td>
						Tipp 1: 0 Punkte<br />
						Tipp 2: 5 Punkte + 1 Bonuspunkt<br />
						Tipp 3: 0 Punkte<p />
						Gesamt: 6 Punkte
					</td>
				</tr>
				<tr>
					<td>
						1: Fahrer A<br />
						2: Fahrer B<br />
						3: Fahrer C
					</td>
					<td>
						4: Fahrer C<br />
						5: Fahrer F<br />
						6: Fahrer A
					</td>
					<td>
						1: Fahrer A<br />
						2: Fahrer C<br />
						3: Fahrer F
					</td>
					<td>
						Tipp 1: 5 Punkte + 2 Bonuspunkte<br />
						Tipp 2: 0 Punkte<br />
						Tipp 3: 1 Punkt + 1 Bonuspunkt<p />
						Gesamt: 9 Punkte
					</td>
				</tr>
				<tr>
					<td>
						1: Fahrer A<br />
						2: Fahrer B<br />
						3: Fahrer C
					</td>
					<td>
						4: Fahrer A<br />
						6: Fahrer B<br />
						9: Fahrer C
					</td>
					<td>
						1: Fahrer C<br />
						2: Fahrer A<br />
						3: Fahrer B
					</td>
					<td>
						Tipp 1: 1 Punkt + 1 Bonuspunkt<br />
						Tipp 2: 1 Punkt + 2 Bonuspunkte<br />
						Tipp 3: 1 Punkt + 3 Bonuspunkte<p />
						Gesamt: 9 Punkte
					</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-6">
				<h3>Was tippen die Anderen?</h3>
				<p>
					Sie können Ihren Tipp bis zum Beginn des Rennens abgeben aber nicht sehen was die anderen Tippen.<br />
					Erst wenn das Rennen beginnt und man seinen Tipp nicht mehr ändern kann können Sie sehen was die anderen Spieler tippen!<br />
					Klicken sie dazu in der Spielübersicht auf das Profil des Spielers.
				</p>
			</div>
			<div class="col-md-6">
				<h3>Werde ich benachrichtigt?</h3>
				<p>
					Falls Sie vor Beginn des Rennens ihren Tipp noch nicht abgegeben haben werden Sie mehrfach vor dem Rennen per EMail errinert.<br />
					Sobald neue Ergebnisse vorliegen und es neue Spielstände gibt erfolgt ebenfalls eine EMailbenachrichtigung.<br />
					Dies sollte kurze Zeit nach Rennschluss erfolgen!
				</p>
			</div>
		</div>
	</div>
</div>
