<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">F1 Tippspiel</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right"></ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron message-display">
    <h1>F1 Tippspiel 2015</h1>
    <p>Die neue Saison steht vor der Tür, jetzt mitmachen.</p>
    <p>
        <a class="btn btn-info" href="@Url.Action("googlelogin", "auth")"><i class="fa fa-google"></i> Google</a> 
        <a class="btn btn-info" href="@Url.Action("twitterlogin", "auth")"><i class="fa fa-twitter"></i> Twitter</a>
    </p>
</div>