@{
	Layout = "~/Views/Shared/_GameBootstrapLayout.cshtml";
}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">F1 Tippspiel</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active:currentRoute==='root'}" ng-hide="authentication.isAuthenticated"><a href="#/">Willkommen</a></li>
				<li ng-class="{active:(currentRoute==='root' || currentRoute==='game')}" ng-hide="!authentication.isAuthenticated"><a href="#/game">Spielübersicht</a></li>
				<li ng-class="{active:currentRoute==='rules'}"><a href="#/rules">Regeln</a></li>
				<li ng-class="{active:currentRoute==='dates'}"><a ng-hide="!authentication.isAuthenticated" href="#/dates">Termine</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="!authentication.isAuthenticated" class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{authentication.displayName}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#/settings">Einstellungen</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#/admin">Administration</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="" ng-click="logout()">Ausloggen</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<div ng-view="">
	</div>
	<footer>
		<span>&copy; bigbasti.com @DateTime.Now.Year</span>
	</footer>
</div>

