
@{
    ViewBag.Title = "Spielregeln";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Spielregeln</h2>
        <p>Die Spielregeln sind sehr simpel:</p>
        <ul>
            <li>Sie müssen Ihren Tipp unbedingt VOR Beginn des Rennens abgeben.</li>
            <li>Sie tippen immer nur auf die ersten drei Plätze.</li>
            <li>5 Punkte erhalten Sie für jeden Tipp der genau gepasst hat!</li>
            <li>Falls einer der Fahrer auf den Sie getippt haben nicht genau auf der Position landet auf die Sie getippt haben, aber dennoch in die Top 3 kommt erhalten Sie einen Punkt!</li>
            <li>Vergessen Sie es einen Tipp abzugeben, oder geben ihn zu spät ab gibt es für das Rennen 0 Punkte!</li>
        </ul>
        <p>Extrapunkte für riskanntere Tipps:</p>
        <ul>
            <li>Sie erhalten Bonuspunkte wenn Sie auf Fahrer Tippen die von den hinteren Startplätzen starten und es dann im Rennen unter die top 3 schaffen.</li>
            <li>Tippen Sie auf einen Fahrer der von Platz 4 oder 5 startet und dieser schafft es dann unter die top 3, erhalten Sie einen Bonuspunkt</li>
            <li>Tippen Sie auf einen Fahrer der von Platz 6 oder 7 startet und dieser schafft es dann unter die top 3, erhalten Sie zwei Bonuspunkt</li>
            <li>Tippen Sie auf einen Fahrer der von Platz 8 oder dahinter startet und dieser schafft es dann unter die top 3, erhalten Sie drei Bonuspunkt</li>
        </ul>
        <p>Pro Rennen können Sie also maximal 24 Punkte erhalten.</p>
        <div class="alert alert-success">
            <strong>Tipp:</strong> Geben Sie Ihren Tipp so früh wie möglich ab. Bis zum Beginn des Rennens können Sie den Tipp jeder Zeit ändern!
        </div>
    </div>
</div>