@model F1Tippspiel.Web.Models.Account.PasswordRecovery
@{
    ViewBag.Title = "F1 Tippspiel Passwort vergessen";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

@section bodyClass
 {
    bg-redbull
}

<div class="row">
    <div class="col-md-4 hover-content">
        <div class="row">
            <div class="col-md-12">
                <h1>F1 Tippspiel @DateTime.Now.Date.Year</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Passwort wiederherstellen</h2>
                <p>Bitte geben Sie die E-Mail Adresse an, die Sie bei der Registrierung genutzt haben. Wir senden Ihnen dann ein neues Passwort auf diese Adresse.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.Successful && !String.IsNullOrEmpty(Model.EMail))
                {
                    <div class="alert alert-success" role="alert">Es wurde ein neues Passwort generiert und befindet sich auf dem Weg zu Ihnen, bitte prüfen Sie auch Ihren Spam-Ordner!</div>
                }
                else if (!Model.Successful && !String.IsNullOrEmpty(Model.EMail))
                {
                    <div class="alert alert-danger" role="alert">Die von Ihnen angegebene E-Mail Adresse ist uns nicht bekannt! Haben Sie auch Ihre E-Mail Adresse vergessen? Dann kontaktieren Sie bitte den Andministrator!
                        <br/><a class="btn btn-default" href="javascript:history.go(-1)">Zurück</a>
                    </div>
                }
                else
                {
                    using (Html.BeginForm("forgotpassword", "account", FormMethod.Post, new { @id = "loginform" }))
                    {
                        @Html.LabelFor(m => m.EMail)<br />
                        @Html.ValidationMessageFor(m => m.EMail)
                        @Html.TextBoxFor(m => m.EMail, new { @class = "form-control spacer-bottom" })
                        <button type="submit" class="btn btn-info"><i class="fa fa-unlock"></i> Neues Passwort anfragen</button>
                    }
                }
            </div>
        </div>
    </div>
</div>