<div class="row">
	<div class="col-md-4">
		<h1>F1 Tippspiel 2016</h1>
		<p>Interner Bereich! Eingeloggt: {{authentication.isAuthenticated}}</p>
		<p>hallo {{authentication.userName}}</p>
	</div>
</div>