@{
    ViewBag.Title = "F1 Tippspiel Registrierung";
    Layout = "~/Views/Shared/_GameBootstrapLayout.cshtml";
}

<div class="container" data-ng-app="tippspiel">
    <div data-ng-view="">


    </div> <!-- /container -->
</div>